{% extends "nav.html" %}
{% block style %}
    div{
            /* border: 1px solid; */
        }
{%endblock%}
{% block content %}    
    <!-- ---------------second nav -------------------- -->
    <div class="nav2 bg-[rgb(92,19,131)] grid grid-cols-6 text-white justify-center items-center h-8 w-[100%]">
        <div class="nav2_item">Catagory</div>
        <div class="nav2_item">Populer</div>
        <div class="nav2_item">Best Sellers</div>
        <div class="nav2_item">Computer</div>
        <div class="nav2_item">Electronics</div>
        <div class="nav2_item">Gift Ideas</div>
    </div>
    <!-- ------------------- banner of the home page------------------------ -->
    <div class="home_banner h-[700px] overflow-hidden">
        <a href="">
            <div class="flex justify-center items-center">
                <img src="PC_Slot.jpg" alt="C:\Users\sayan\Pictures\sandakofu\2ndDayMorning.jpg" class="w-[100%]">
                <!-- <img src="2ndDayMorning.jpg" alt="C:\Users\sayan\Pictures\sandakofu\2ndDayMorning.jpg" class="w-[100%]"> -->
            </div>
        </a>        
        <!--  -------------------try to place offer -------------------------- -->
        <div class="offers absolute top-[400px] grid grid-cols-[1fr,1fr,1fr,1fr] w-[100%] h-[300px] px-8 gap-10 overflow-hidden">
            
            <div class="items-offers grid border-black border-2px justify-center items-center">
                <div class=" bg-white">
                    <div class="items-offers_intro col-span-2">Starting ₹99 | Amazon Brands & more</div>
                    <div class="grid grid-rows-2 grid-flow-col border-black border-2px gap-4 m-3">
                        <div class="items-offers-element col-span-1 grid justify-center items-center"><img src="download.jpeg" class="items-offers-element_img w-40" alt=""><span class="items-offers-element_name">boots</span></div>
                        <div class="items-offers-element col-span-1 grid justify-center items-center"><img src="download.jpeg" class="items-offers-element_img w-40" alt=""><span class="items-offers-element_name">mobile</span></div>
                        <div class="items-offers-element col-span-1 grid justify-center items-center"><img src="download.jpeg" class="items-offers-element_img w-40" alt=""><span class="items-offers-element_name">watch</span></div>
                        <div class="items-offers-element col-span-1 grid justify-center items-center"><img src="download.jpeg" class="items-offers-element_img w-40" alt=""><span class="items-offers-element_name">toy</span></div>
                    </div>
                </div>
            </div>
            <div class="items-offers grid border-black border-2px justify-center items-center">
                <div class=" bg-white">
                    <div class="items-offers_intro col-span-2">Starting ₹99 | Amazon Brands & more</div>
                    <div class="grid grid-rows-2 grid-flow-col border-black border-2px gap-4 m-3">
                        <div class="items-offers-element col-span-1 grid justify-center items-center"><img src="download.jpeg" class="items-offers-element_img w-40" alt=""><span class="items-offers-element_name">boots</span></div>
                        <div class="items-offers-element col-span-1 grid justify-center items-center"><img src="download.jpeg" class="items-offers-element_img w-40" alt=""><span class="items-offers-element_name">mobile</span></div>
                        <div class="items-offers-element col-span-1 grid justify-center items-center"><img src="download.jpeg" class="items-offers-element_img w-40" alt=""><span class="items-offers-element_name">watch</span></div>
                        <div class="items-offers-element col-span-1 grid justify-center items-center"><img src="download.jpeg" class="items-offers-element_img w-40" alt=""><span class="items-offers-element_name">toy</span></div>
                    </div>
                </div>
            </div>
            <div class="items-offers grid border-black border-2px justify-center items-center">
                <div class=" bg-white">
                    <div class="items-offers_intro col-span-2">Starting ₹99 | Amazon Brands & more</div>
                    <div class="grid grid-rows-2 grid-flow-col border-black border-2px gap-4 m-3">
                        <div class="items-offers-element col-span-1 grid justify-center items-center"><img src="download.jpeg" class="items-offers-element_img w-40" alt=""><span class="items-offers-element_name">boots</span></div>
                        <div class="items-offers-element col-span-1 grid justify-center items-center"><img src="download.jpeg" class="items-offers-element_img w-40" alt=""><span class="items-offers-element_name">mobile</span></div>
                        <div class="items-offers-element col-span-1 grid justify-center items-center"><img src="download.jpeg" class="items-offers-element_img w-40" alt=""><span class="items-offers-element_name">watch</span></div>
                        <div class="items-offers-element col-span-1 grid justify-center items-center"><img src="download.jpeg" class="items-offers-element_img w-40" alt=""><span class="items-offers-element_name">toy</span></div>
                    </div>
                </div>
            </div>
            <div class="items-offers grid border-black border-2px justify-center items-center">
                <div class=" bg-white">
                    <div class="items-offers_intro col-span-2">Starting ₹99 | Amazon Brands & more</div>
                    <div class="grid grid-rows-2 grid-flow-col border-black border-2px gap-4 m-3">
                        <div class="items-offers-element col-span-1 grid justify-center items-center"><img src="download.jpeg" class="items-offers-element_img w-40" alt=""><span class="items-offers-element_name">boots</span></div>
                        <div class="items-offers-element col-span-1 grid justify-center items-center"><img src="download.jpeg" class="items-offers-element_img w-40" alt=""><span class="items-offers-element_name">mobile</span></div>
                        <div class="items-offers-element col-span-1 grid justify-center items-center"><img src="download.jpeg" class="items-offers-element_img w-40" alt=""><span class="items-offers-element_name">watch</span></div>
                        <div class="items-offers-element col-span-1 grid justify-center items-center"><img src="download.jpeg" class="items-offers-element_img w-40" alt=""><span class="items-offers-element_name">toy</span></div>
                    </div>
                </div>
            </div>
            

        </div>
    </div>
    <!-- ------------------- best offer items of the home page ------------------- -->
{%endblock%}