<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Only Nav{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: "Hind", sans-serif;
            font-weight: 300;
            font-style: normal;
        }
        .material-symbols-outlined,.material-icons{
            color: rgb(46, 118, 243);
        }
        body{
            background-color: rgb(224, 225, 225);
            /* height: 1000px; */
        }
        /* div{
            border: 1px solid ;
            margin: 1px;
        } */
        {% block style %} {%endblock%}
    </style>
</head>

<body class="bg-[rgb(224,225,225)]">
    <div class="nav">
        <div class="sideNav bg-white w-[300px] p-4 gap-3  absolute hidden z-10">
            <div class="sideNav-opt sideNav_Singup ">
                <a href="#" class="grid grid-cols-[50px,1fr,40px] ">
                    <div class="sideNav_Singup_logo flex justify-center items-center"><i class="material-icons text-[35px]"
                            style="color: black;">account_circle</i></div>
                    <div style="border-style: non; background-color: white;">
                        {% if c_data.Type == "Customer" %}
                            <button style="border-style: none; background-color: white;">
                                <div class="a">Hello,</div>
                                <div class="b">{{ c_data.Name }}</div>
                            </button>
                        {% elif s_data.Type == "Seller" %}
                            <button style="border-style: none; background-color: white;">
                                <div class="a">Hello,</div>
                                <div class="b"> {{s_data.Name}}</div>
                            </button>
                        {% else %}
                            <div class="a">Please,</div>
                            <div class="b">Login/Signup</div>
                        {% endif %}
                    </div>
                    <div class="sideNav_Singup_close flex justify-center items-center"
                        style="padding: 12px;"><span class="material-symbols-outlined">close</span>
                    </div>
                </a>
            </div>
            <div class="sideNav-opt sideNav_order flex justify-center">
                <a href="{% url 'customer:allOrders'%}" class="grid grid-cols-[40px,1fr] gap-3">
                    <i class="material-icons justify-center items-center grid">shopping_cart</i>
                    <div class="sideNav_order_text">
                        My order
                    </div>
                </a>
            </div>


            <div class="sideNav_opt grid gap-2">
                <div class="justify-center items-center grid gap-2">
                    <header class="grid grid-cols-[40px,1fr] w-[200px]">
                        <span class="material-symbols-outlined justify-center items-center grid">
                            person
                        </span>
                        <div class="sideNav_order_text">
                            Profile Settings
                        </div>
                    </header>
                    <div class="grid gap-2 justify-center items-center bg-slate-200">
                        <a href="#" class="w-[80%]">Profile Management</a>
                        <a href="#">Manage Address</a>
                        <a href="#">Pan Card Manage</a>
                    </div>
                </div>
                <div class="justify-center items-center grid gap-2">
                    <header class="grid grid-cols-[40px,1fr]  w-[200px]">
                        <span class="material-symbols-outlined justify-center items-center grid">
                            payments
                        </span>
                        <div class="sideNav_order_text">
                            Payments
                        </div>
                    </header>
                    <div class="grid gap-2 justify-center items-center bg-slate-200">
                        <a href="#">Gift Cards</a>
                        <a href="#">Saved UPI</a>
                        <a href="#">Saved Cards</a>
                    </div>
                </div>
                <div class="justify-center items-center grid gap-2">
                    <header class="grid grid-cols-[40px,1fr]  w-[200px]">
                        <span class="material-symbols-outlined justify-center items-center grid">
                            trending_up
                        </span>
                        <div class="sideNav_order_text">
                            Trending
                        </div>
                    </header>
                    <div class="grid gap-2 justify-center items-center bg-slate-200">

                        <a href="#">Best Sells</a>
                        <a href="#">New Release</a>
                        <a href="#">Offers</a>
                    </div>
                </div>
                <div class="justify-center items-center grid gap-2">
                    <header class="grid grid-cols-[40px,1fr] w-[200px]">
                        <span class="material-symbols-outlined justify-center items-center grid">
                            category
                        </span>
                        <div class="sideNav_order_text">
                            Category
                        </div>
                    </header>
                    <div class="grid gap-2 justify-center items-center bg-slate-200">
                        <a href="#">Mobile</a>
                        <a href="#">Laptop, Computer</a>
                        <a href="#">Men fashion</a>
                        <a href="#">Women fashion</a>
                        <a href="#">Other</a>
                    </div>
                </div>
                <div class="justify-center items-center grid gap-2">
                    <header class="grid grid-cols-[40px,1fr]  w-[200px]">
                        <span class="material-symbols-outlined justify-center items-center grid">
                            sell
                        </span>
                        <div class="sideNav_order_text">
                            Earn with Sells
                        </div>
                    </header>
                    <div class="grid gap-2 justify-center items-center bg-slate-200">
                        <a href="{% url 'Seller:sellerHome'%}">Sells Creator Studio</a>
                        <a href="#">My Sells</a>
                    </div>
                </div>
                <div class="justify-center items-center grid gap-2">
                    <header class="grid grid-cols-[40px,1fr]  w-[200px]">
                        <span class="material-symbols-outlined justify-center items-center grid">
                            help
                        </span>
                        <div class="sideNav_order_text">
                            Help
                        </div>
                    </header>
                    <div class="grid gap-2 justify-center items-center bg-slate-200">
                        <a href="#">Custemor Service</a>
                        <a href="#">Terms & Conditions</a>
                    </div>
                </div>
                <div class="justify-center items-center grid p-4">
                    {% if c_data != none %}
                            <a href="{% url 'customer:logOutCustomer' %}">Log Out</a>
                        {% else %}
                    <a href="{% url 'customer:user_login'%}">Login/Signup</a>
                    {%endif%}
                </div>
            </div>
        </div>
        <!-- nav body -->
        <div class="navBody grid sm:grid-cols-[40px,40px,1fr,240px,40px,40px] max-sm:grid-cols-[5%,5%,58%,10%,5%,5%] gap-3 p-2 bg-white text-[22px]">
            <div class="navEle dot3 cursor-pointer grid justify-center items-center">&#9776;</div>
            <div class="navEle logo grid justify-center items-center">
                <a class="logo_img grid justify-center items-center" href="{% url 'homepage:HomePage'%}" alt="">
                    <span class="material-symbols-outlined ">
                        home
                    </span>
                </a>
            </div>
            <div class="navEle serchBar">
                <form id="searchForm" action="{% url 'homepage:product_list' %}" method="get" class="serchForm flex">
                    <!-- {% csrf_token %} -->
                    <input type="text" name="search" class="serchBar-input w-[100%] bg-[rgb(213,229,245)] rounded-l-[20px] p-[20px]" style="padding: 3px;"
                        placeholder="  Search ">
                    <button type="submit" class="bg-[rgb(213,229,245)] rounded-r-[20px] grid justify-center items-center w-16">
                        <span class="material-symbols-outlined">
                            search
                        </span>
                    </button>
                </form>
            </div>
            <div class="navEle grid justify-center items-center overflow-hidden">
                <div class="navBody-button profile-btn">
                    {% if c_data.Type == "Customer" %}
                        <button class="navBody-button profile" style="border-style: none; background-color: white; border-radius: 5px;">
                            {{c_data.Name}}
                        </button>
                    {% elif s_data.Type == "Seller" %}
                        <button class="navBody-button profile" style="border-style: none; background-color: white; border-radius: 5px;">
                            {{s_data.Name}}
                        </button>
                    {% else %}
                        <a href="{% url 'customer:user_login'%}">
                            <span class="material-symbols-outlined">
                                login
                            </span>
                        </a>
                    {% endif %}
                </div>
            </div>
            <div class="navEle cart grid justify-center items-center">
                <a href="{% url 'customer:cart'%}" class="navBody-button cart-btn">
                    <span class="material-symbols-outlined">
                        shopping_cart
                    </span>
                </a>
            </div>
            <div class="navEle notifaction grid justify-center items-center">
                <a href="" class="navBody-button notifaction-btn">
                    <span class="material-symbols-outlined">
                        notifications
                    </span>
                </a>
            </div>
        </div>
    </div>
<!-- on hover some profile ditels is show  -->
    <div class="profile_hover border-[1px] border-black w-[200px] rounded-md overflow-hidden hidden">
        <div class="flex gap-2 justify-center items-center bg-white">
            <div class="flex justify-center items-center">
                <span class="material-symbols-outlined text-[35px]">
                    account_circle
                </span>
            </div>
            <div class="">
                {% if c_data.Type == "Customer" %}
                    {{c_data.Name}}
                {% elif s_data.Type == "Seller" %}
                    {{s_data.Name}}
                {% endif %}
            </div>
        </div>
        <div class="grid gap-3 p-2 bg-slate-300">
            <a href="">
                <div class="flex justify-center items-center">profile setting</div>
            </a>
            <a href="{% url 'customer:logOutCustomer' %}">
                    <div class="flex justify-center items-center gap-4">
                    <span class="material-symbols-outlined">
                        logout
                    </span>
                    log out
                </div>
            </a>
        </div>
    </div>


    <script>
        profile = document.querySelector('.profile')
        profile_hover = document.querySelector('.profile_hover')
        // profile_hover.style.top=profile.getBoundingClientRect().y

        profile.addEventListener('mouseover',()=>{
            profile_hover.style.display='grid'
            profile_hover.style.position='absolute';
            profile_hover.style.left=(profile.getBoundingClientRect().x-130)+'px';
            profile_hover.style.top=(profile.getBoundingClientRect().y+30)+'px';
        })
        profile_hover.addEventListener('mouseover',()=>{
            profile_hover.style.display='grid'
            profile_hover.style.position='absolute';
            profile_hover.style.left=(profile.getBoundingClientRect().x-130)+'px';
            profile_hover.style.top=(profile.getBoundingClientRect().y+30)+'px';
        })
        profile.addEventListener('mouseout',()=>{
            profile_hover.style.display='none'
        })
        profile_hover.addEventListener('mouseout',()=>{
            profile_hover.style.display='none'
        })
    </script>


    <!-- related with searching  -->
    <script>
        document.getElementById("searchForm").addEventListener("submit", function (event) {
            event.preventDefault(); // Prevent default form submission

            var searchQuery = document.querySelector(".serchBar-input").value.trim(); // Get the search query from the input field
            if (searchQuery) {
                var url = "{% url 'homepage:product_list' %}?search=" + encodeURIComponent(searchQuery); // Construct the URL with the search query parameter
                window.location.href = url; // Redirect to the product list page with the search query
            }
        });
    </script>
    
    <!-- related with nav open close -->
    <script>
        opennav = document.querySelector('.dot3')
        sideNav = document.querySelector('.sideNav')
        navBody = document.querySelector('.navBody')
        sideNav_Singup_close = document.querySelector('.sideNav_Singup_close')
        sideNa = window.getComputedStyle(sideNav)
        // console.log(sideNa.display)
        opennav.addEventListener('click',()=>{
            if (sideNa.display == 'none'){
                sideNav.style.display='grid'
            }
        })
        sideNav_Singup_close.addEventListener('click',()=>{
            if (sideNa.display == 'grid'){
                sideNav.style.display='none'
            }
        })

    </script>
    {% block content %}  {%endblock%}
</body>

</html>