<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>place order</title>
    <style>
        div {
            /* border: 1px solid;
            padding: 5px; */
            margin: 5px;
        }
    </style>
</head>

<body class="bg-[rgb(238,235,235)]">
    <div class="body grid gap-3 m-4 justify-center items-center place_order_pagee">
        <div
            class="price_deti_ele heding  bg-white text-[25px] font-medium p-[3px] items-center text-center justify-center">
            CHECKOUT
        </div>
        <div class="orderDetils sm:flex max-sm:grid ">
            
            <!-- -----------for select delivery ditels----------- -->
            <div class="price_deti_ele delivery_det overflow-hidden">
                <div class="deliveryDitels">
                    <div class="price_deti_ele heding  bg-white text-[20px] font-medium p-[3px] items-center justify-center h-[40px]">
                        DELIVERY DETAILS
                    </div>
                    <!-- .................... option address ...................  -->
                    <div class=" bg-white text-[240x] grid gap-3 m-2 p-3">
                        <div class="selectedAddress addAddressid" value="{{cartPrice.userAddres.id}}">{{cartPrice.userAddres.ReciverName}} {{cartPrice.userAddres.ReciverMobileNo}} {{cartPrice.userAddres.Home_Rode_Address}} {{cartPrice.userAddres.pincode}} {{cartPrice.userAddres.city}} {{cartPrice.userAddres.state}}</div>
<div>selectedAddress addAddressid</div>
                    </div>
                </div>
                <div class="pamentMethord">
                    <div class="price_deti_ele heding  bg-white text-[20px] font-medium p-[3px] items-center justify-center h-[40px]">
                        PAMENT METHORD
                    </div>
                    <!-- .................... option address ...................  -->
                    <div class=" bg-white text-[240x] grid gap-3 m-2 p-3">
                        <div class="deliveryOption caseOnDelivery grid gap-3 grid-cols-2 bg-am">
                            <input type="checkbox" name="" id=""> <span class="left-1"> Case on Delivery </span>
                        </div>
                        <div class="deliveryOption gPay grid gap-3 grid-cols-2">
                            <input type="checkbox" name="" id=""> <span class="left-1"> Gpay </span>
                        </div>
                        <div class="deliveryOption onlineBanking grid gap-3 grid-cols-2">
                            <input type="checkbox" name="" id=""> <span class="left-1"> Online Banking </span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ---------------for prce dtels------------------ -->
            <div class="cart_price_detiels grid gap-3">
                <div
                    class="price_deti_ele heding  bg-white text-[20px] font-medium p-[3px] items-center justify-center">
                    PRICE DETAILS
                </div>
                <div class="total_price_detils  bg-white p-5 grid grid-cols-1 gap-1 text-[15px]">
                    <div class="grid grid-cols-[1fr,6px,1fr] gap-3 items-center">
                        <span class="md:text-right font-medium">Product Price ({{cartPrice.totalItem}} Item)</span>
                        <span>:</span>
                        <div class="material-symbols-outlined text-[20px] flex items-center"><span class="totalPrice text-[19px]">{{cartPrice.productPrice }}</span>currency_rupee</div>
                    </div>
                    <div class="grid grid-cols-[1fr,6px,1fr] gap-3 items-center">
                        <span class="md:text-right font-medium">Discount</span>
                        <span>:</span>
                        <div class="material-symbols-outlined text-[20px] flex items-center"><span class="discountPrice text-[19px]">{{cartPrice.discountPrice }}</span>currency_rupee</div>
                    </div>
                    <div class="grid grid-cols-[1fr,6px,1fr] gap-3 items-center">
                        <span class="md:text-right font-medium">Packaging Fee</span>
                        <span>:</span>
                        <div class="material-symbols-outlined text-[20px] flex items-center"><span class="PackagingFee text-[19px]">{{cartPrice.PackagingFee }}</span>currency_rupee</div>
                    </div>
                    <div class="grid grid-cols-[1fr,6px,1fr] gap-3 items-center">
                        <span class="md:text-right font-medium">Delivery charge</span>
                        <span>:</span>
                        <div class="material-symbols-outlined text-[20px] flex items-center"><span class="DeliveryCharge text-[19px]">{{cartPrice.DeliveryCharge }}</span>currency_rupee</div>
                    </div>
                    <div class="grid grid-cols-[1fr,6px,1fr] gap-3 items-center">
                        <span class="md:text-right font-medium"> Total Price</span>
                        <span>:</span>
                        <div class="material-symbols-outlined text-[20px] flex items-center"><span class=" text-[19px]">{{cartPrice.totalPrice }}</span>currency_rupee</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="price_deti_ele place_order_div flex justify-center bg-[rgb(238,235,235)]  rounded-[20px]">
            <a  class="place_order_b">
                <!-- href="{% url 'customer:order_place_sucessfull'%}" -->
                <button type="submit" class="place_order border-[1px] border-black rounded-[25px] h-[35px] w-[200%] my-3 bg-gray-300">
                    Place order
                </button>
            </a>
        </div>
    </div>
    <div class="place_the_new_succes_templet"></div>
    <script>
        
    </script>
<!-- {{cartPrice}} -->
</body>

</html>